body {
  background-color: #000;
  color: #fff;
  line-height: 1.5;
  font-size: 1.4rem;
  font-family: Plain, -apple-system, Roboto, sans-serif;
  font-weight: 400;
}

.modal-thanks {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.modal-thanks-body {
  background: #fff;
  padding: 80px 88px;
  border-radius: 10px;
  max-width: 570px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 767px) {
  .modal-thanks-body {
    padding: 68px 24px;
  }
}
.modal-thanks-body .title {
  font-family: Moonglade;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .modal-thanks-body .title {
    font-size: 28px;
    line-height: 100%;
  }
}
.modal-thanks-body p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
  margin: 0;
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .modal-thanks-body p {
    font-size: 13px;
  }
}
.modal-thanks-body .close {
  width: 42px;
  height: 42px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(100% + 15px);
  cursor: pointer;
  color: #000;
  transition: 0.2s;
}
@media screen and (max-width: 767px) {
  .modal-thanks-body .close {
    background: #000;
    color: #fff;
    top: 20px;
    right: 20px;
    left: initial;
  }
}